body {
  background-color: #557768;
}

.pageHeader {
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.pageTitle {
  border: 5px solid purple;
  justify-content: center;
}

.scoreCard,
.modifiers {
  background-color: #bed1c7;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  flex: 1;
  max-width: 250px;
  max-height: 250px;
}

.modifiers {
  min-height: 230px;
}

.questionsBox {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.questionsBox ol {
  font-size: large;
  justify-content: center;
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.questionsBox li {
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}


.answersBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}